<% provide(:title, 'All Resources') %>
<% if @element.empty? %>
	<h4>No resources are currently available in your domain</h4>
<% else %>
	<h1>All the resources available in your domain are</h1>
<% end %>


<% @element.each do |r| %>
<ul class="users">
 <li>
 	<%= link_to r.name, r %>	
  <%= link_to "Modify resource access levels", edit_element_path(r) %>
 </li>
</ul>
<% end %>
