<% provide(:title, 'Resource Page 1') %>
You are signed into the domain: <%= current_user.domain.name %>

</br></br>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
      Video 1
      </h1>
    </section>
  </aside>
</div>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        Video 2
      </h1>
    </section>
  </aside>
</div>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        Video 3
      </h1>
    </section>
  </aside>
</div>